* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-text {
  color: #00ffff;
  font-size: 70.7;
  font-family: "Inter", serif;
}

.social-icons i {
  font-size: 50 rem;
  color: #00ffff;
}

.card-title {
  color: #00ffff;
}

.btn {
  background-color: #00ffff;
}

.form-box {
  box-shadow: 5px 5px 5px rgb(123, 139, 145);
}

.dark-input::placeholder {
  color: #aaa;
  opacity: 1;
}
